.track-page{
    padding: 30px;
    position: relative;
}
.track-info {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 10px;
    margin-left: 4.3rem;
}

.track-info::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    border-bottom: 1px solid #4C5563;
}

.img{
    height: 50vh;
    width: 50vh;
    border: black solid 4px;
}

.title, .artist, .date{
    display:inline;
}
.date{
    margin-left: 10px;
    color: #525457;
    letter-spacing: 1px;
}
.title-date-artist{
    display: inline;
}

.title-above-release{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 50vh;
}

.releases{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #525457;
    letter-spacing: 1px;

}

.release-format{
    display: inline;
    margin-bottom: 10px;
}

.release{
    display:inline;
}
.release:hover{
    cursor:pointer;
    text-decoration: underline;
}

.format{
    display: inline;
    color: #525457;
}

