#spring

server.port=8081
spring.application.name=mediamenu-backend

#postgreSql:
spring.datasource.url=jdbc:postgresql://localhost:5432/MediaMenu
spring.datasource.username=postgres
spring.datasource.password=yourpassword
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate

#fanart.tv:
fanart_api_key: your_api_key_here

spotify:
client-id: your_clientid_here

client-secret: your_clientsecret_here

redirect-uri: your_redirecturi_here
