.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.charts-wrapper{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.top-tracks, .top-releases{
    display: grid;
    grid-template-columns:repeat(3, 0fr);
    row-gap: 0;
    width: 32rem;
    height: 100%;
}

.releases-wrapper, .tracks-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.releases-header, .tracks-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: .3rem;
    margin-bottom: 1rem;
}

.releases-header::after, .tracks-header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border-bottom: 1px solid #4C5563;
}

.category-wrapper{
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

.switch-wrapper{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: #525457;
    cursor: pointer;
    text-decoration: underline;
    height: 100%;
    gap: .2rem;
}

.track{
    position: relative;
}

.chart-img{
    display: block;
    width: 10.6rem;
    height: 10.6rem;
    border: 2px solid black;
    margin: 0;
    cursor: pointer;
}

.chart-img:hover{
    border: 2px solid #1eFFE7;
}

.chart-track-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10.6rem;

    display: flex;
    flex-direction: column; /* STACKS the h5’s */
    align-items: center;    /* centers horizontally */
    gap: 2px;               /* optional spacing */

    background: rgba(0, 0, 0, 0.55);
    padding: 0.3rem;
}

.chart-track-info h5 {
    margin: 0;
    width: 100%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    opacity: 0.8;
}
