.profile-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #4C5563;
    width: 80vh;
    height: 50vh;
    margin-bottom: 100px;
}

.account-header{
    padding-bottom: 15px;
}

.login-header, .signup-header{
    padding: 20px;
}

.login, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.username-wrapper, .password-wrapper  {
    background-color: #4c4c4c;
    border-radius: 10px;
    height: 5vh;
    padding: 8px 35px 6px 10px;
    display: flex;
    align-items: center;
    width: 40vh;
    margin-bottom:10px;
}

.password-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
}

.passHide, .passShow{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.login-button, .signup-button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: Monaco, monospace;
    color: #ffffff;
    background-color: #1d6fa3;
    box-shadow: 2px 2px 1px black;
    border: #1E2023;
    outline: none;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.login-button:hover, .signup-button:hover {
    background-color: #1090e0;
}

.login-button:active, .signup-button:active{
    background-color: #30DBBF;
}

