.user-page {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.profile-categories {
    margin-bottom: 30px;
    padding-left: 20px;
}

.category-header{
    position: relative;
}
.category {
    color: #fff;
    margin-bottom: 5px;
    text-align: left;
    text-shadow: 2px 2px 1px #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.see-more{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    cursor: pointer;
}

.see-more:hover{
    text-decoration: underline;
}

.category-releases {
    display:grid;
    position: relative;
    flex-direction: column;
    grid-template-columns:repeat(6, 1fr);
    align-items: center;
    padding: 10px;
}

.category-releases::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border-top: 1px solid #4C5563;
}

.releaseGroup-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;

}
.profile-item-img {
    height: 25vh;
    width: 25vh;
    border: 2px solid black;
    margin: 15px 15px 5px 15px;
    transition: border 0.2s;
}

.profile-item-img:hover {
    border: 2px solid #30DBBF;
    cursor: pointer;
}

.release-info{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom: 5px;
    width: 25vh;
}

.release-info::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border-bottom: 1px solid #4C5563;
}

.profile-item-title {
    color: #fff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
    max-width: 100%;
    margin-bottom: 5px;
}

.profile-item-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile-item-artist {
    color: #fff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
    max-width: 100%;
    margin-top: 5px;
}

.profile-item-artist:hover {
    cursor: pointer;
    text-decoration: underline;
}

.star-profile{
    display: inline;
    font-size: 20px;
    color:orange;
    vertical-align: bottom;
}

.rating-value{
    margin-top: 5px;
}
.rating-value h4{
    display: inline;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.rating-value-ten{
    color: #1eFFE7;
}

.rating-value-high{
    color: #2EFF66;
}

.rating-value-med{
    color: #7BFF00;
}

.rating-value-medlow{
    color: #FFF700;
}

.rating-value-low{
    color: #FF8C00;
}

.rating-value-zero{
    color: #FF0000;
}

.listen-timestamp{
    padding: 5px;
    color: #525457;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
