.user-ratings-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.user-ratings{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    width: 70%;
}

.ratings-item-img{
    width: 20vh;
    height: 20vh;
    margin: .9rem 0 .5rem 0;
    border: .02rem solid black;
    cursor: pointer;
}

.ratings-item-img:hover{
    border: .02rem solid #30DBBF;
}

.ratings-page-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ratings-release-info{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom: .3rem;
    width: 20vh;
}

.ratings-release-info::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border-bottom: 0.01rem solid #4C5563;
}
